.file {
    position: relative;
}
    .file label {
        background: #39D2B4;
        padding: 5px 20px;
        color: #fff;
        font-weight: bold;
        font-size: .9em;
        transition: all .4s;
    }

    .file label:hover {
        cursor: pointer;
    }

    .file input {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        opacity: 0.01;
        cursor: pointer;
    }

    .file input:hover + label,
    .file input:focus + label {
        background: #34495E;
        color: #39D2B4;
    }

pre {
    font-family: Menlo, Consolas, 'Courier New', monospace
}

    footer.bottom-menu {
        color: #bcc3ca;
        padding: 40px 0;
    }

        footer.bottom-menu .navbar-brand {
            float: none;
            margin-top: -22px;
            padding: 14px 0;
        }

    footer .bottom-links {
        margin-bottom: 0;
    }

        footer .bottom-links > li {
            color: #7F8C8D;
            line-height : 32px;
        }

    footer ul[class^="list-"] {
        margin-bottom: 0;
    }

    footer ul[class^="list-"] > li {
        padding-left: 10px;
        padding-right: 0;
    }

    footer a {
        font-weight: normal;
    }

    @media (max-width: 767px) {
        footer article[class^="col-"] {
            text-align: center;
        }
    }
