<md-dialog aria-label="Add a new rule">
    <form ng-submit="save(rule)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 ng-if="rule.name === null">Add a new rule</h3>
                <h3 ng-if="rule.name !== null">Edit rule "{{ rule.name }}"</h3>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Close" ng-click="closeForm()">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-list>
                <md-list-item>
                    <!-- Name -->
                    <md-input-container flex>
                        <label for="rule_name" class="md-body-1">Name</label>
                        <input id="rule_name" type="text" ng-model="rule.name" placeholder="e.g. Sticky GMail" required>
                        <span class="md-caption">Give an explicit name, just for you</span>
                    </md-input-container>

                    <!-- URL fragment -->
                    <md-input-container flex>
                        <label for="rule_url_fragment" class="md-body-1">URL fragment</label>
                        <input id="rule_url_fragment" type="text" ng-model="rule.url_fragment" placeholder="e.g. mail.google.com to catch GMail" required>
                        <span class="md-caption">URL fragment to find</span>
                    </md-input-container>
                </md-list-item>

                <md-subheader class="md-accent" ng-if="rule.url_fragment === null">The URL fragment is required by the extension to detect when to apply your actions</md-subheader>
                <md-subheader class="md-accent" ng-if="rule.url_fragment !== null">The following actions will be applied when the URL contains <code ng-bind="rule.url_fragment"></code>:</md-subheader>

                <md-content ng-if="rule.url_fragment !== null">
                    <!-- Title -->
                    <md-list-item>
                        <md-input-container flex>
                            <label for="rule_title" class="md-body-1">Title</label>
                            <input id="rule_title" type="text" ng-model="rule.tab.title" placeholder="e.g. Hey {title}">
                            <span class="md-caption">The new title you want to display, use <code>{title}</code> to insert the website title</span>
                        </md-input-container>
                    </md-list-item>

                    <!-- Icon -->
                    <md-list-item>
                        <md-input-container flex>
                            <label for="rule_icon" class="md-body-1">Icon</label>
                            <input id="rule_icon" type="url" ng-model="rule.tab.icon" placeholder="e.g. https://google.com/favicon.ico">
                            <span class="md-caption">URL for the new favicon</span>
                        </md-input-container>
                    </md-list-item>

                    <!-- Is Pinned -->
                    <md-list-item class="md-2-line">
                        <md-switch class="md-accent" ng-model="rule.tab.pinned"></md-switch>
                        <div class="md-list-item-text">
                            <p class="md-body-1">Pinned</p>
                            <span class="md-caption">To pin the tab, otherwise nothing happens</span>
                        </div>
                    </md-list-item>

                    <!-- Is Protected -->
                    <md-list-item class="md-2-line">
                        <md-switch class="md-accent" ng-model="rule.tab.protected"></md-switch>
                        <div class="md-list-item-text">
                            <p class="md-body-1">Protected</p>
                            <span class="md-caption">Will ask you before closing the tab</span>
                        </div>
                    </md-list-item>

                    <!-- Is Unique -->
                    <md-list-item class="md-2-line">
                        <md-switch class="md-accent" ng-model="rule.tab.unique"></md-switch>
                        <div class="md-list-item-text">
                            <p class="md-body-1">Unique</p>
                            <span class="md-caption">Will prevent for opening a new tab if it is already opened</span>
                        </div>
                    </md-list-item>

                    <!-- Regex -->
                    <md-list-item>
                        <md-input-container flex>
                            <label for="rule_url_matcher" class="md-body-1">URL matcher</label>
                            <input id="rule_url_matcher" type="text" ng-model="rule.tab.url_matcher">
                            <span class="md-caption">Regular expression to search string fragments and use it inside the title property with <code>$1</code>, <code>$2</code>... Read the <a href="https://github.com/sylouuu/chrome-tab-modifier" target="_blank" aria-label="GitHub Project">doc</a></span>
                        </md-input-container>
                    </md-list-item>
                </md-content>
            </md-list>
        </md-dialog-content>

        <!-- Rule's form actions -->
        <md-dialog-actions layout="row">
            <!--<md-button class="md-raised md-warn" ng-click="confirmDeleteRule($event, rule)"><md-icon md-svg-icon="delete"></md-icon>&nbsp;Delete</md-button>-->
            <!--<md-button class="md-raised"><md-icon md-svg-icon="duplicate"></md-icon>&nbsp;Duplicate</md-button>-->
            <md-button class="md-raised md-accent" type="submit"><md-icon md-svg-icon="save"></md-icon>&nbsp;Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
