<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Tab Modifier</title>

        <!-- Set base URL for the application -->
        <base href="/"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc4/angular-material.min.css">

        <style>
            .md-hover:hover {
                background-color: rgba(158,158,158,0.2);
            }
            .md-icon-title {
                margin-right: 1rem;
            }
            .md-padding-left {
                padding-left: 1rem;
            }
        </style>

        <!-- <link rel="stylesheet" href="../css/options.min.css"> -->
    </head>
    <body layout="row" ng-app="TabModifier" ng-controller="BaseController as base">

        <!-- Sidenav -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="aside-left" md-is-locked-open="true" flex="15" >

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Tab Modifier</h1>
            </md-toolbar>

            <!-- Menu -->
            <md-content>
                <md-menu>
                    <md-menu-content>
                        <md-subheader class="md-no-sticky md-display-2">Menu</md-subheader>
                        <md-menu-item>
                            <md-button class="md-button" href="/" aria-label="Settings">
                                <md-icon class="md-icon-title" md-svg-icon="settings"></md-icon>
                                Settings
                            </md-button>
                        </md-menu-item>
                        <md-subheader class="md-no-sticky md-display-2">Resources</md-subheader>
                        <md-menu-item>
                            <md-button class="md-button" href="https://chrome.google.com/webstore/detail/tab-modifier/hcbgadmbdkiilgpifjgcakjehmafcjai" target="_blank" aria-label="Chrome Web Store Project">
                                <md-icon class="md-icon-title" md-svg-icon="google-chrome"></md-icon>
                                Chrome Web Store
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-button" href="https://github.com/sylouuu/chrome-tab-modifier" target="_blank" aria-label="Github Project">
                                <md-icon class="md-icon-title" md-svg-icon="github-circle"></md-icon>
                                Github
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-content>
        </md-sidenav>

        <md-content class="md-padding" flex="85">
            <h1>Settings</h1>
            <p class="md-body-1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <md-divider></md-divider>

            <div layout="row">

                <!-- Rule's settings form -->
                <form flex>
                    <md-list>
                        <md-subheader><md-icon md-svg-icon="tab"></md-icon>&nbsp;Tab configuration rules</md-subheader>

                        <!-- Title -->
                        <md-list-item>
                            <md-input-container flex>
                                <label for="rule_title" class="md-body-1">
                                    Title : the new title you want to display
                                </label>
                                <input id="rule_title" type="text" ng-required="true">
                            </md-input-container>
                        </md-list-item>

                        <!-- Icon -->
                        <md-list-item>
                            <md-input-container flex>
                                <label for="rule_icon" class="md-body-1">
                                    Icon : URL for the new favicon
                                </label>
                                <input id="rule_icon" type="url">
                            </md-input-container>
                        </md-list-item>

                        <!-- Is Pinned -->
                        <md-list-item>
                            <md-switch></md-switch>
                            <p class="md-body-1">Pinned : to pin the tab, otherwise nothing happens.</p>
                        </md-list-item>

                        <!-- Is Protected -->
                        <md-list-item>
                            <md-switch></md-switch>
                            <p class="md-body-1">Protected : will ask you before closing the tab.</p>
                        </md-list-item>

                        <!-- Is Unique -->
                        <md-list-item>
                            <md-switch></md-switch>
                            <p class="md-body-1">Unique : will prevent for opening a new tab if it is already opened.</p>
                        </md-list-item>

                        <!-- Regex -->
                        <md-list-item>
                            <md-input-container flex>
                                <label for="rule_regex" class="md-body-1">
                                    Regex : regular expression to search string fragment(s) and use it inside the title property
                                </label>
                                <input id="rule_regex" type="text">
                            </md-input-container>
                        </md-list-item>

                        <!-- Rule's form actions -->
                        <md-list-item layout-padding layout-align="end">
                            <md-button class="md-raised"><md-icon md-svg-icon="clear"></md-icon>&nbsp;Clear</md-button>
                            <md-button class="md-raised md-primary"><md-icon md-svg-icon="list-plus"></md-icon>&nbsp;Add</md-button>
                        </md-list-item>
                    </md-list>
                </form>

                <md-content style="height: 510px;border-left: 1px solid rgba(0,0,0,0.12);" flex="50">

                    <!-- Rules list -->
                    <md-list>
                        <md-subheader><md-icon md-svg-icon="list"></md-icon>&nbsp;List of tabs configurations</md-subheader>

                        <!-- Rule's item -->
                        <md-list-item class="md-padding-left md-hover" ng-repeat="item in items">
                            <p class="md-body-1">{{ item.title }}</p>

                            <div layout-align="end">
                                <!-- Edit rule button -->
                                <md-button class="md-icon-button" aria-label="Edit rule">
                                    <md-icon md-svg-icon="edit"></md-icon>
                                    <md-tooltip md-direction="bottom">Edit {{ item.title }}</md-tooltip>
                                </md-button>

                                <!-- Duplicate rule button -->
                                <md-button class="md-icon-button" aria-label="Duplicate rule">
                                    <md-icon md-svg-icon="duplicate"></md-icon>
                                    <md-tooltip md-direction="bottom">Duplicate {{ item.title }}</md-tooltip>
                                </md-button>

                                <!-- Delete rule button -->
                                <md-button class="md-icon-button" aria-label="Delete rule">
                                    <md-icon md-svg-icon="delete"></md-icon>
                                    <md-tooltip md-direction="bottom">Delete {{ item.title }}</md-tooltip>
                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </md-content>

        <div layout=row>
            <div class="md-list-item-text" flex="60">
                <h3>{{ item.title }}</h3>
            </div>
            <div flex="40">




            </div>
        </div>

        <!-- Divider line -->
        <md-divider ng-if="!$last"></md-divider>
        <!--
        <div class="pure-g">

            <div class="content pure-u-1 pure-u-md-3-4">
                <div>
                    <h1 class="content-subhead">Change settings</h1>

                    <form class="pure-form pure-form-stacked">
                        <fieldset>
                            <label for="settings_file">Select your JSON file</label>

                            <input type="file" id="settings_file" name="file" accept="application/json">
                        </fieldset>
                    </form>

                    <h1 class="content-subhead">Current settings</h1>

                    <div id="settings_found" style="display:none;">
                        <p>Your settings are live-editable.</p>

                        <ul>
                            <li>Click on the JSON below to enter in edit mode.</li>
                            <li>Click outside the field to save.</li>
                            <li>Press <code>Escape</code> to undo.</li>
                        </ul>
                    </div>

                    <div id="no_settings_found" style="display:none;">
                        <p>No settings found.</p>
                        <p>If you are new here, check out the <a href="https://github.com/sylouuu/chrome-tab-modifier/blob/master/README.md" target="_blank">README</a> file.</p>

                        <ul>
                            <li>Download and import the <a href="https://github.com/sylouuu/chrome-tab-modifier/blob/master/settings_sample.json" target="_blank">settings_sample.json</a>.</li>
                            <li>Or just paste the JSON below.</li>
                        </ul>
                    </div>

                    <pre id="current_file" contenteditable="true"></pre>
                </div>
            </div>
        </div>-->

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>

        <!-- Angular Material Javascript  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc4/angular-material.min.js"></script>
        <script src="../js/app.min.js"></script>
        <!-- <script src="../js/options.min.js"></script> -->
    </body>
</html>
