<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Tab Modifier</title>

        <!-- Set base URL for the application -->
        <base href="/"/>

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc3/angular-material.min.css">
        <style>
            .md-icon-title {
                margin-right: 10px;
            }
        </style>
        <!-- <link rel="stylesheet" href="../css/options.min.css"> -->
    </head>
    <body layout="row" ng-app="TabModifier" ng-controller="BaseController as base">

        <!-- Menu - Navbar -->
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="aside-left" md-is-locked-open="$mdMedia('gt-md')" flex="20" >

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Tab Modifier</h1>
            </md-toolbar>

            <md-content>
                <md-menu>
                    <md-menu-content>
                        <md-subheader class="md-no-sticky md-display-2">Menu</md-subheader>
                        <md-menu-item>
                            <md-button class="md-button" href="/" aria-label="Settings">
                                <md-icon class="md-icon-title" md-svg-icon="settings"></md-icon>
                                Settings
                            </md-button>
                        </md-menu-item>
                        <md-subheader class="md-no-sticky md-display-2">Resources</md-subheader>
                        <md-menu-item>
                            <md-button class="md-button" href="https://chrome.google.com/webstore/detail/tab-modifier/hcbgadmbdkiilgpifjgcakjehmafcjai" target="_blank" aria-label="Chrome Web Store Project">
                                <md-icon class="md-icon-title" md-svg-icon="google-chrome"></md-icon>
                                Chrome Web Store
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button class="md-button" href="https://github.com/sylouuu/chrome-tab-modifier" target="_blank" aria-label="Github Project">
                                <md-icon class="md-icon-title" md-svg-icon="github-circle"></md-icon>
                                Github
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-content>
        </md-sidenav>

        <md-content class="md-padding" flex="80">
            <h1>Configure your tabs in Chrome</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <md-divider></md-divider>

            <div layout="row">
                <form flex="50">

                </form>

                <md-content layout="column" style="height: 400px;" flex="50">
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="item in items">
                            <div layout=row>
                                <div class="md-list-item-text" flex="60">
                                    <h3>{{ item.title }}</h3>
                                    <h4>{{ item.description }}</h4>
                                </div>
                                <div flex="40" layout-fill>
                                    <md-button class="md-icon-button" aria-label="Edit rule">
                                        <md-icon md-svg-icon="edit"></md-icon>
                                        <md-tooltip md-direction="bottom">Edit rule</md-tooltip>
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="Duplicate rule">
                                        <md-icon md-svg-icon="duplicate"></md-icon>
                                        <md-tooltip md-direction="bottom">Duplicate rule</md-tooltip>
                                    </md-button>
                                    <md-button class="md-icon-button" aria-label="Delete rule">
                                        <md-icon md-svg-icon="delete"></md-icon>
                                        <md-tooltip md-direction="bottom">Delete rule</md-tooltip>
                                    </md-button>
                                </div>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </md-content>
        <!--
        <div class="pure-g">

            <div class="content pure-u-1 pure-u-md-3-4">
                <div>
                    <h1 class="content-subhead">Change settings</h1>

                    <form class="pure-form pure-form-stacked">
                        <fieldset>
                            <label for="settings_file">Select your JSON file</label>

                            <input type="file" id="settings_file" name="file" accept="application/json">
                        </fieldset>
                    </form>

                    <h1 class="content-subhead">Current settings</h1>

                    <div id="settings_found" style="display:none;">
                        <p>Your settings are live-editable.</p>

                        <ul>
                            <li>Click on the JSON below to enter in edit mode.</li>
                            <li>Click outside the field to save.</li>
                            <li>Press <code>Escape</code> to undo.</li>
                        </ul>
                    </div>

                    <div id="no_settings_found" style="display:none;">
                        <p>No settings found.</p>
                        <p>If you are new here, check out the <a href="https://github.com/sylouuu/chrome-tab-modifier/blob/master/README.md" target="_blank">README</a> file.</p>

                        <ul>
                            <li>Download and import the <a href="https://github.com/sylouuu/chrome-tab-modifier/blob/master/settings_sample.json" target="_blank">settings_sample.json</a>.</li>
                            <li>Or just paste the JSON below.</li>
                        </ul>
                    </div>

                    <pre id="current_file" contenteditable="true"></pre>
                </div>
            </div>
        </div>-->

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>

        <!-- Angular Material Javascript  -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc3/angular-material.min.js"></script>
        <script src="../js/app.min.js"></script>
        <!-- <script src="../js/options.min.js"></script> -->
    </body>
</html>
