<md-toolbar>
    <nav class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSideNav()" aria-label="Toggle left menu" hide-gt-sm>
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Tab Rules</h1>
    </nav>
</md-toolbar>

<md-subheader class="md-display-2">
    List of rules <span ng-bind="'('+ tab_modifier.rules.length +')'"></span>
    <md-button class="md-accent md-fab md-fab-bottom-right" ng-click="showForm($event)" ga-track-event="['tab-rules', 'create-rule']">
        <md-icon md-svg-icon="plus"></md-icon>
        <md-tooltip md-direction="left">Add a new rule</md-tooltip>
    </md-button>
</md-subheader>

<md-divider></md-divider>

<md-content class="md-padding" layout-align="center center" ng-if="tab_modifier.rules.length === 0">

    <md-card flex-offset="15" flex="70">
        <md-card-header class="md-primary">
            <md-card-avatar>
                <md-icon md-svg-icon="information-outline"></md-icon>
            </md-card-avatar>
            <md-card-header-text class="md-title-only" layout-align="center start">
                <h2 class="md-title">No rules found</h2>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <p>
                Ooohh! There is no rule yet! Hit the "plus" button to create your first rule.
            </p>
        </md-card-content>
    </md-card>

</md-content>

<md-content class="md-padding" layout="row" layout-align="center start" ng-if="tab_modifier.rules.length > 0">

    <md-table-container flex="100" flex-md="80" flex-gt-md="70">
        <table md-table ui-tree>
            <thead md-head>
                <tr md-row>
                    <th md-column><span>Sort</span></th>
                    <th md-column><span>Name</span></th>
                    <th md-column><span>Detection</span></th>
                    <th md-column><span>URL fragment</span></th>
                    <th md-column md-numeric></th>
                </tr>
            </thead>
            <tbody md-body ui-tree-nodes>
                <tr md-row ng-repeat="rule in tab_modifier.rules" ui-tree-node>
                    <td md-cell>
                        <md-button class="md-icon-button" ui-tree-handle aria-label="Sort rule">
                            <md-icon md-svg-icon="content-duplicate" md-menu-align-target></md-icon>
                            <md-tooltip md-direction="bottom">Sort</md-tooltip>
                        </md-button>
                    </td>
                    <td md-cell ng-bind="rule.name"></td>
                    <td md-cell>
                        <span ng-if="rule.detection === 'STARTS'">Starts with</span>
                        <span ng-if="rule.detection === 'CONTAINS'">Contains</span>
                        <span ng-if="rule.detection === 'ENDS'">Ends with</span>
                        <span ng-if="rule.detection === 'REGEXP'">Regular Expression</span>
                    </td>
                    <td md-cell ng-bind="rule.url_fragment"></td>
                    <td md-cell>
                        <md-button class="md-icon-button" ng-click="showForm($event, rule)" aria-label="Edit rule" ga-track-event="['tab-rules', 'edit-rule']">
                            <md-icon md-svg-icon="edit" md-menu-align-target></md-icon>
                            <md-tooltip md-direction="bottom">Edit</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="duplicate(rule)" aria-label="Duplicate rule" ga-track-event="['tab-rules', 'duplicate-rule']">
                            <md-icon md-svg-icon="content-duplicate" md-menu-align-target></md-icon>
                            <md-tooltip md-direction="bottom">Duplicate</md-tooltip>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="delete($event, rule)" aria-label="Delete rule" ga-track-event="['tab-rules', 'delete-rule']">
                            <md-icon md-svg-icon="delete" md-menu-align-target></md-icon>
                            <md-tooltip md-direction="bottom">Delete</md-tooltip>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

</md-content>
