<md-toolbar md-scroll-shrink>
    <h1 class="md-toolbar-tools" layout="row">Tab Rules</h1>
</md-toolbar>

<md-subheader class="md-display-2">
    List of rules
    <md-button class="md-accent md-fab md-fab-bottom-right" ng-click="showForm($event)">
        <md-icon md-svg-icon="plus"></md-icon>
        <md-tooltip md-direction="left">Add a new rule</md-tooltip>
    </md-button>
</md-subheader>

<md-divider></md-divider>

<md-content class="md-padding" layout="row" layout-align="center start">

    <!-- <md-card ng-repeat="item in items">
        <md-card-header>

            <md-card-avatar>
                <md-icon class="md-icon-title" md-svg-icon="image"></md-icon>
            </md-card-avatar>

            <md-card-header-text>
                <span class="md-title">Name</span>
                <span class="md-subhead">URL fragment</span>
            </md-card-header-text>
        </md-card-header>

        <md-card-actions layout="row" layout-align="center center">

            <md-button class="md-icon-button" aria-label="Edit rule">
                <md-icon md-svg-icon="edit"></md-icon>
                <md-tooltip md-direction="bottom">Edit {{ item.title }}</md-tooltip>
            </md-button>

            <md-button class="md-icon-button" aria-label="Duplicate rule">
                <md-icon md-svg-icon="duplicate"></md-icon>
                <md-tooltip md-direction="bottom">Duplicate {{ item.title }}</md-tooltip>
            </md-button>

            <md-button class="md-icon-button" ng-click="confirmDeleteRule($event)" aria-label="Delete rule">
                <md-icon md-svg-icon="delete"></md-icon>
                <md-tooltip md-direction="bottom">Delete {{ item.title }}</md-tooltip>
            </md-button>
        </md-card-actions>
    </md-card> -->

    <md-list flex="70">
        <md-list-item ng-repeat="rule in tab_modifier.rules">
            <!--<md-icon md-svg-icon="image" flex="5"></md-icon>-->

            <p flex="40" ng-bind="rule.name"></p>

            <p flex="45" ng-bind="rule.url_fragment"></p>

            <div flex="15" layout="row" layout-align="end center">
                <md-button class="md-icon-button" ng-click="showForm($event, rule)" aria-label="Edit rule">
                    <md-icon md-svg-icon="edit" md-menu-align-target></md-icon>
                    <md-tooltip md-direction="bottom">Edit</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-click="duplicate(rule)" aria-label="Duplicate rule">
                    <md-icon md-svg-icon="duplicate" md-menu-align-target></md-icon>
                    <md-tooltip md-direction="bottom">Duplicate</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-click="delete($event, rule)" aria-label="Delete rule">
                    <md-icon md-svg-icon="delete" md-menu-align-target></md-icon>
                    <md-tooltip md-direction="bottom">Delete</md-tooltip>
                </md-button>
            </div>
            <md-divider ng-if="$last === false"></md-divider>
        </md-list-item>
    </md-list>

</md-content>
