<md-toolbar>
    <nav class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleSideNav()" aria-label="Toggle left menu" hide-gt-sm>
            <md-icon class="md-icon-title" md-svg-icon="menu"></md-icon>
        </md-button>
        <h1>Tab Rules</h1>
    </nav>
</md-toolbar>

<md-subheader class="md-display-2">
    List of rules <span ng-bind="'('+ tab_modifier.rules.length +')'"></span>
    <md-button class="md-accent md-fab md-fab-bottom-right" ng-click="showForm($event)" ga-track-event="['tab-rules', 'create-rule']">
        <md-icon md-svg-icon="plus"></md-icon>
        <md-tooltip md-direction="left">Add a new rule</md-tooltip>
    </md-button>
</md-subheader>

<md-divider></md-divider>

<md-content class="md-padding" layout-align="center center" ng-if="tab_modifier.rules.length === 0">

    <md-card flex-offset="15" flex="70">
        <md-card-header class="md-primary">
            <md-card-avatar>
                <md-icon class="md-icon-title" md-svg-icon="information-outline"></md-icon>
            </md-card-avatar>
            <md-card-header-text class="md-title-only" layout-align="center start">
                <h2 class="md-title">No rules found</h2>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <p>
                It seems that you are new here, hit the "plus" button to create your first rule.
                <br>
                Otherwise visit the <a href="#/help">help page</a>.
            </p>
        </md-card-content>
    </md-card>

</md-content>

<md-content class="md-padding" layout="row" layout-align="center start" ng-if="tab_modifier.rules.length > 0">

    <md-list flex="100" flex-md="80" flex-gt-md="70">
        <md-list-item ng-repeat="rule in tab_modifier.rules">
            <p class="text-nowrap" flex="40" ng-bind="rule.name">
                <md-tooltip md-direction="bottom">{{ rule.name }}</md-tooltip>
            </p>

            <p class="text-nowrap" flex="30" ng-bind="rule.url_fragment">
                <md-tooltip md-direction="bottom">{{ rule.url_fragment }}</md-tooltip>
            </p>

            <div flex="30" layout="row" layout-align="end center">
                <md-button class="md-icon-button" ng-click="showForm($event, rule)" aria-label="Edit rule" ga-track-event="['tab-rules', 'edit-rule']">
                    <md-icon md-svg-icon="edit" md-menu-align-target></md-icon>
                    <md-tooltip md-direction="bottom">Edit</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-click="duplicate(rule)" aria-label="Duplicate rule" ga-track-event="['tab-rules', 'duplicate-rule']">
                    <md-icon md-svg-icon="duplicate" md-menu-align-target></md-icon>
                    <md-tooltip md-direction="bottom">Duplicate</md-tooltip>
                </md-button>
                <md-button class="md-icon-button" ng-click="delete($event, rule)" aria-label="Delete rule" ga-track-event="['tab-rules', 'delete-rule']">
                    <md-icon md-svg-icon="delete" md-menu-align-target></md-icon>
                    <md-tooltip md-direction="bottom">Delete</md-tooltip>
                </md-button>
            </div>
            <md-divider ng-if="$last === false"></md-divider>
        </md-list-item>
    </md-list>

</md-content>
