html,
body {
    font-size: 14px;
}

strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

md-content {
    overflow-x: hidden;
}

.md-button-20x {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    min-width: 25px !important;
}

.md-icon-16x {
    width: 16px;
    height: 16px;
}

.md-icon-min16x {
    min-width: 16px;
    min-height: 16px;
}

.md-select-value:first-child .md-icon-title {
    transform: none;
}

.md-subheader .md-button.md-fab.md-fab-bottom-right {
    bottom: -50px;
}

.md-img-select {
    margin-bottom: -2px;
}

.md-title-only .md-title {
    font-size: 16px;
}

.md-2-line p {
    margin: 0;
    line-height: 1.6em;
    font-weight: 500;
    letter-spacing: .01em;
}

.md-margin-0 {
    margin: 0;
}

.md-padding-0 {
    padding: 0 !important;
}

.md-margin-bottom-0 {
    margin-bottom: 0;
}

.text-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

p.md-primary,
span.md-primary {
    color: #1E88E5;
}

md-card-header.md-primary {
    color: rgb(255, 255, 255);
    background-color: #1E88E5;
}

md-card-header.md-warn {
    color: rgb(255, 255, 255);
    background-color: #D50000;
}

md-input-container .md-caption {
    display: inline-block;
    padding: 6px 0;
}

.my-icon-button {
    padding: 7px !important;
    min-width: 0;
    min-height: 0;
    line-height: normal;
}

.my-icon-button img {
    width: 20px;
    padding-top: 7px;
    padding-left: 11px;
    padding-right: 18px;
}

.my-icon-button span {
    position: absolute;
    top: 15px;
    padding-left: 5px;
}

table {
    width: 100%;
    border-spacing: 0;
    overflow: hidden;
}

table > thead > tr {
    height: 56px;
}

table > thead > tr > th {
    text-align: left;
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
}

table > tbody > tr {
    height: 48px;
}

table > tbody > tr > td {
    text-align: left;
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    border-top: 1px rgba(0, 0, 0, .12) solid;
}

table > tbody > tr > td:first-child {
    padding-left: 14px;
}
